/* 64em is also 1028px (if basefont is 16px) */
@media only screen and (min-width: 64rem) {




/*----------- NAVIGATION --------------*/
nav {
    height:35px;
}
nav ul li a{
    padding: .5rem 1rem;
}
/*-----------home page---------------*/
div.templeActivities figure{ flex-basis: 29%;}
    
    
    
    
    
}